{% extends 'layouts/master.jinja2' %}
{% from 'macros.jinja2' import generate_group_trees with context %}
{% block page_css %}
<link href="{{ request.static_path('tp_yass:static/' ~ request.current_theme ~ '/css/jquery.bonsai-2.1.1.css') }}" rel="stylesheet">
{% endblock page_css %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12"><h1>群組列表</h1></div>
    <div class="col-12">
      {{ generate_group_trees('group_trees', group_trees) }}
    </div>
  </div>
</div>
{% endblock content %}
{% block page_js %}
<script src="{{ request.static_path('tp_yass:static/' ~ request.current_theme ~ '/js/jquery.bonsai-2.1.1.js') }}"></script>
<script>
  $(function() {
    $('#root-group').bonsai({
      expandAll: true
    });
  });
</script>
{% endblock page_js %}
