{% macro generate_navbar_trees(name, navbar_trees, use_link=True, show_root=False) %}
  {% for navbar in navbar_trees recursive %}
    {# 每進一個遞迴就會讓 loop.first 為 True #}
    {% if loop.first %}
      {% if not navbar.ancestor %}
        <ul class="list-group" id="root-navbar" data-name="{{ name }}">
      {% else %}
        <ul class="list-group">
      {% endif %}
    {% endif %}
  {# 這是分隔線，只有分隔線的樣式要特別處理 #}
  {% if navbar.type == 3 %}
    {% if use_link and navbar.id != -1 %}
      <li class="my-1"><a href="#">{{ navbar.name }}</a>
    {% else %}
      {# 最新消息的分隔線不需超連結 #}
      <li class="my-1">{{ navbar.name }}
    {% endif %}
  {% else %}
    {% if navbar.type == 5 %}
      <li class="list-group-item">{{ navbar.name }}
    {% elif navbar.type == 6 %}
      <li class="list-group-item">顯示全部
    {% else %}
      {% if use_link %}
        <li class="list-group-item" data-value="{{ navbar.id }}"><a href="#"{% if navbar.is_external %} target="_blank"{% endif %}>{% if navbar.icon %}<i class="fas {{ navbar.icon }}"></i> {% endif %}{{ navbar.name }}{% if navbar.is_external %} <i class="fas fa-external-link-alt"></i>{% endif %}</a>
      {% else %}
        <li class="list-group-item" data-value="{{ navbar.id }}">{{ navbar.name }}
      {% endif %}
    {% endif %}
  {% endif %}
  {% if navbar.descendants %}
    {{ loop(navbar.descendants) }}
  {% endif %}
  </li>
  {% if loop.last %}
    </ul>
  {% endif %}
  {% endfor %}
{% endmacro %}


{% macro generate_user_group_trees(request, name, group_trees, use_link=True) %}
  {% for group in group_trees recursive %}
    {% if loop.first %}
      {% if not group.ancestor %}
        <ul class="list-group" id="root-group" data-name="{{ name }}">
      {% else %}
        <ul class="list-group">
      {% endif %}
    {% endif %}
    <li class="list-group-item" data-value="{{ group.id }}">
      {% if use_link %}
        <div class="d-flex justify-content-between align-content-center">
          <a href="#">{{ group.name }}</a>
          <span>
            {% if group.id != 1 %}
              {# 如果是管理者群組，則不該顯示編輯與刪除按鈕 #}
              <a href="{{ request.route_url('backend_user_group_edit', group_id=group.id) }}" class="btn btn-sm btn-primary">編輯</a>
              <a href="{{ request.route_url('backend_user_group_delete', group_id=group.id) }}" class="btn btn-sm btn-danger">刪除</a>
            {% endif %}
          </span>
        </div>
      {% else %}
        {{ group.name }}
      {% endif %}
      {% if group.descendants %}
        {{ loop(group.descendants) }}
      {% endif %}
    </li>
    {% if loop.last %}
      </ul>
    {% endif %}
  {% endfor %}
{% endmacro %}
