{% extends 'layouts/master.jinja2' %}
{% from 'tp_yass:themes/' ~ request.current_theme ~ '/macros.jinja2' import paginate with context %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12"><h1>最新消息列表</h1></div>
    <div class="col-12">
      <div class="card border-primary mb-3">
        <div class="table-responsive">
          <table class="table table-hover table-striped text-center mb-0">
            <thead>
              <tr>
                <th scope="col" class="d-none d-md-table-cell">編號</th>
                <th scope="col" class="d-none d-md-table-cell">日期</th>
                <th scope="col" class="d-none d-md-table-cell">分類</th>
                <th scope="col" class="d-none d-sm-table-cell">標題</th>
                <th scope="col" class="d-none d-md-table-cell">群組</th>
                <th scope="col" class="d-none d-sm-table-cell">標籤</th>
                <th scope="col" class="d-none d-sm-table-cell">動作</th>
              </tr>
            </thead>
            <tbody>
            {% for each_news in news_list %}
              <tr>
                <th scope="row">{{ loop.index + (page_number - 1) * quantity_per_page }}</th>
                <td>{{ each_news.publication_date }}</td>
                <td>{{ each_news.category.name }}</td>
                <td><a href="#">{% if each_news.is_pinned %}<i class="bi bi-pin"></i> {% endif %}{{ each_news.title }}</a></td>
                <td><a href="#">{{ each_news.group.name }}</a></td>
                <td>
                {% for each_tag in each_news.tags %}
                  {{ each_tag.name }}{% if not loop.last %}, {% endif %}
                {% endfor %}
                </td>
                <td>
                  {% if request.session['is_admin'] %}
                    <a class="btn btn-primary" href="{{ request.route_url('backend_news_edit', news_id=each_news.id) }}">編輯</a>
                    <a class="btn btn-danger" href="{{ request.route_url('backend_news_delete', news_id=each_news.id) }}">刪除</a>
                  {% else %}
                    {% if each_news.group.id in request.session['main_group_id_list'] %}
                      <a class="btn btn-primary" href="{{ request.route_url('backend_news_edit', news_id=each_news.id) }}">編輯</a>
                      <a class="btn btn-danger" href="{{ request.route_url('backend_news_delete', news_id=each_news.id) }}">刪除</a>
                    {% endif %}
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {{ paginate("最新消息列表分頁", "backend_news_list", page_quantity_of_total_news, page_number, quantity_per_page) }}
    </div>
  </div>
</div>
{% endblock content %}
