{% extends 'layouts/master.jinja2' %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">系統設定</li>
            <li class="breadcrumb-item"><a href="{{ request.route_url('backend_oauth2_integration_list') }}">OAuth2 登入整合設定</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ provider_config['canonical_name'] }} OAuth2 設定</li>
          </ol>
        </nav>
      </div>
      <div class="col-12">
        <div class="card">
          <div class="card-header">{{ provider_config['canonical_name'] }} OAuth2 設定</div>
          <div class="card-body">
            <form action="" method="post">
              <input type="hidden" name="csrf_token" value="{{ get_csrf_token() }}">
              {% for each_config_key in provider_config %}
                {% if each_config_key == 'settings' %}
                  {% for each_editable_key in provider_config[each_config_key] %}
                    <div class="form-group">
                      <label for="{{ each_editable_key }}">{{ each_editable_key }}</label>
                      {% if each_editable_key == 'enabled' %}
                        <select class="form-control" name="{{ each_editable_key }}" id="{{ each_editable_key }}">
                          <option value="True"{% if provider_config[each_config_key][each_editable_key] %} selected{% endif %}>啟用</option>
                          <option value="False"{% if not provider_config[each_config_key][each_editable_key] %} selected{% endif %}>停用</option>
                        </select>
                      {% else %}
                        <input type="text" class="form-control" name="{{ each_editable_key }}" id="{{ each_editable_key }}" value="{{ provider_config[each_config_key][each_editable_key] }}" aria-describedby="{{ each_editable_key }}">
                      {% endif %}
                    </div>
                  {% endfor %}
                {% else %}
                  <div class="form-group">
                    <label for="{{ each_config_key }}">{{ each_config_key }}</label>
                    <input type="text" class="form-control" name="{{ each_config_key }}" id="{{ each_config_key }}" value="{{ provider_config[each_config_key] }}" readonly aria-describedby="{{ each_config_key }}" aria-readonly="true">
                  </div>
                {% endif %}
              {% endfor %}
              <button type="submit" class="btn btn-primary">更新</button> <button type="reset" class="btn btn-danger">重置</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-12">
        <nav aria-label="breadcrumb" class="mt-3">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">系統設定</li>
            <li class="breadcrumb-item"><a href="{{ request.route_url('backend_oauth2_integration_list') }}">OAuth2 登入整合設定</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ provider_config['canonical_name'] }} OAuth2 設定</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
{% endblock content %}
