{% extends "layouts/master.jinja2" %}
{% from "tp_yass:themes/default/macros.jinja2" import paginate %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12"><h1>單一頁面列表</h1></div>
    <div class="col-12">
      <div class="card border-primary mb-3">
        <div class="table-responsive">
          <table class="table table-hover table-striped text-center mb-0">
            <thead>
              <tr>
                <th scope="col" class="d-none d-md-table-cell">編號</th>
                <th scope="col" class="d-none d-sm-table-cell">標題</th>
                <th scope="col" class="d-none d-md-table-cell">群組</th>
                <th scope="col" class="d-none d-sm-table-cell">標籤</th>
                <th scope="col" class="d-none d-sm-table-cell">動作</th>
              </tr>
            </thead>
            <tbody>
            {% for each_page in page_list %}
              <tr>
                <th scope="row">{{ loop.index + (page_number - 1) * quantity_per_page }}</th>
                <td><a href="{{ request.route_url('page_get', page_id=each_page.id) }}">{{ each_page.title }}</a></td>
                <td>
                {% for each_group in each_page.groups %}
                  {{ each_group.name }}{% if not loop.last %}, {% endif %}
                {% endfor %}
                </td>
                <td>
                {% for each_tag in each_page.tags %}
                  {{ each_tag.name }}{% if not loop.last %}, {% endif %}
                {% endfor %}
                </td>
                <td>
                  {% if request.session['is_admin'] %}
                    <a class="btn btn-primary" href="{{ request.route_url('backend_page_edit', page_id=each_page.id) }}">編輯</a>
                    <a class="btn btn-danger" href="{{ request.route_url('backend_page_delete', page_id=each_page.id) }}">刪除</a>
                  {% else %}
                    {% for each_group in each_page.groups %}
                      {% if each_group.id in request.session['group_id_list'] %}
                        <a class="btn btn-primary" href="{{ request.route_url('backend_page_edit', page_id=each_page.id) }}">編輯</a>
                        {% break %}
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {{ paginate(request, "單一頁面列表分頁", "backend_page_list", page_quantity_of_total_pages, page_number, quantity_per_page) }}
    </div>
  </div>
</div>
{% endblock content %}
