{% extends "layouts/master.jinja2" %}
{% from 'macros.jinja2' import generate_user_group_trees %}
{% block page_css %}
  <link rel="stylesheet" href="{{ 'tp_yass:themes/default/static/css/summernote-bs4-0.8.16.min.css'|static_path }}">
  <link rel="stylesheet" href="{{ 'tp_yass:themes/default/static/css/jquery.bonsai-2.1.1.css'|static_path }}">
{% endblock page_css %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12"><h1>單一頁面 - 編輯</h1></div>
    <div class="col-12">
      {% if form.errors %}
        <div class="alert alert-danger"  role="alert">
            <ul>
            {% for key in form.errors %}
              {% for msg in form.errors[key] %}
              <li>{{ msg }}</li>
              {% endfor %}
            {% endfor %}
            </ul>
        </div>
      {% endif %}
      <form action="" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ get_csrf_token() }}">
        <div class="form-group">
          {{ form.title.label() }}
          {{ form.title(class_='form-control', placeholder='請輸入頁面標題') }}
        </div>
        <div class="form-group">
          {{ form.content.label() }}
          {{ form.content(class_='form-control', placeholder='請輸入內容') }}
        </div>
        <div class="form-group">
          {{ form.group_ids.label() }}
          {{ generate_user_group_trees(request, 'group_ids', group_trees, use_link=False) }}
        </div>
        <div class="form-group">
          {{ form.attachments.label() }}
          {{ form.attachments(class_='form-control') }}
        </div>
        <div class="form-group">
          {{ form.tags.label() }}
          {{ form.tags(class_='form-control', placeholder='請輸入標籤名稱（使用逗號分隔）') }}
        </div>
        {% if form.uploaded_attachments.choices %}
          <div class="form-group">
            {{ form.uploaded_attachments.label(class_='mt-2') }}<span class="text-danger">（若要刪除請取消勾選）</span>
            {{ form.uploaded_attachments() }}
          </div>
        {% endif %}
        <button type="submit" class="btn btn-primary mb-3">修改</button> <button type="reset" class="btn btn-danger mb-3">重設</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
{% block page_js %}
  <script src="{{ 'tp_yass:themes/default/static/js/summernote-bs4-0.8.16.min.js'|static_path }}"></script>
  <script src="{{ 'tp_yass:themes/default/static/js/summernote-zh-TW-0.8.16.min.js'|static_path }}"></script>
  <script src="{{ 'tp_yass:themes/default/static/js/jquery.qubit-2.0.9.js'|static_path }}"></script>
  <script src="{{ 'tp_yass:themes/default/static/js/jquery.bonsai-2.1.1.js'|static_path }}"></script>
  <script>
    $(function (){
      $('#content').summernote({
        lang: 'zh-TW',
        height: 300
      });
      $('#root-group').bonsai({
        expandAll: true,
        createInputs: 'checkbox'
      });
      {% for i in group_ids %}
        $('#root-group>li[data-value="{{ i }}"]>input[type="checkbox"]').prop('checked', true);
      {% endfor %}
    });
  </script>
{% endblock %}
