{% extends "layouts/master.jinja2" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12"><h1>樣板列表</h1></div>
    <div class="col-12">
      <div class="card border-primary mb-3">
        <div class="table-responsive">
          <table class="table table-hover table-striped text-center mb-0">
            <thead>
              <tr>
                <th scope="col" class="d-none d-md-table-cell">序號</th>
                <th scope="col" class="d-none d-sm-table-cell">名稱</th>
                <th scope="col" class="d-none d-sm-table-cell">動作</th>
              </tr>
            </thead>
            <tbody>
            {% for each_theme in theme_list %}
              <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ each_theme.name }}</td>
                <td>
                  <a class="btn btn-primary" href="#">設為預設</a>
                  <a class="btn btn-danger" href="#">刪除</a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
