{% extends 'layouts/master.jinja2' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12"><h1>樣板列表</h1></div>
    <div class="col-12">
      <div class="card border-primary mb-3">
        <div class="table-responsive">
          <table class="table table-hover table-striped text-center mb-0">
            <thead>
              <tr>
                <th scope="col" class="d-none d-md-table-cell">序號</th>
                <th scope="col" class="d-none d-sm-table-cell">名稱</th>
                <th scope="col" class="d-none d-sm-table-cell">動作</th>
              </tr>
            </thead>
            <tbody>
            {# 若透過 override_theme_name 這個 GET param 去動態 preview 樣板時，我們希望啟用與樣板狀態不會受到影響，所以改直接取用 cache 的值#}
            {% set current_theme_name = request.cache.get_current_theme_name() -%}
            {% for each_theme_config in theme_config_list %}
              <tr>
                <th scope="row" class="align-middle">{{ loop.index }}</th>
                <td class="align-middle">
                  {{ each_theme_config.name }}
                  {% if each_theme_config.name == current_theme_name %}
                    <span class="badge badge-info">已啟用</span>
                  {% elif each_theme_config.name == request.GET['override_theme_name'] %}
                    <span class="badge badge-warning">目前預覽</span>
                  {% endif %}
                </td>
                <td>
                  <div class="d-flex justify-content-end">
                    {% if each_theme_config.name != current_theme_name %}
                      <a class="btn btn-info mx-1" href="{{ request.route_url('backend_theme_config_activate', theme_name=each_theme_config.name) }}">啟用</a>
                    {% endif %}
                    {% if each_theme_config.name != current_theme_name %}
                      <a class="btn btn-primary mx-1" href="{{ request.route_url('backend_theme_config_general_edit', theme_name=each_theme_config.name) }}">一般設定</a>
                      <a class="btn btn-primary mx-1" href="{{ request.route_url('backend_theme_config_banners_edit', theme_name=each_theme_config.name) }}">橫幅設定</a>
                      <a class="btn btn-warning mx-1" href="{{ request.route_url('homepage', _query={'override_theme_name': each_theme_config.name}) }}" target="_blank">預覽樣板</a>
                      <a class="btn btn-danger mx-1" href="{{ request.route_url('backend_theme_config_delete', theme_name=each_theme_config.name) }}">刪除</a>
                    {% else %}
                      <a class="btn btn-primary mx-1" href="{{ request.route_url('backend_theme_config_general_edit', theme_name=each_theme_config.name) }}">一般設定</a>
                      <a class="btn btn-primary mx-1" href="{{ request.route_url('backend_theme_config_banners_edit', theme_name=each_theme_config.name) }}">橫幅設定</a>
                      <a class="btn btn-warning mx-1 disabled" href="#">預覽樣板</a>
                      <a class="btn btn-danger mx-1 disabled" href="#">刪除</a>
                    {% endif %}
                  </div>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
