{% extends "layouts/master.jinja2" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12"><h1>樣板列表</h1></div>
    <div class="col-12">
      <div class="card border-primary mb-3">
        <div class="table-responsive">
          <table class="table table-hover table-striped text-center mb-0">
            <thead>
              <tr>
                <th scope="col" class="d-none d-md-table-cell">序號</th>
                <th scope="col" class="d-none d-sm-table-cell">名稱</th>
                <th scope="col" class="d-none d-sm-table-cell">動作</th>
              </tr>
            </thead>
            <tbody>
            {% for each_theme_config in theme_config_list %}
              <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ each_theme_config.name }} {% if each_theme_config.name == request.current_theme %}<span class="badge badge-info">啟用</span>{% endif %}</td>
                <td>
                  {% if each_theme_config.name != request.current_theme %}<a class="btn btn-info" href="#">啟用</a>{% endif %}
                  <a class="btn btn-primary" href="{{ request.route_url('backend_theme_config_general_edit', theme_name=each_theme_config.name) }}">一般設定</a>
                  <a class="btn btn-primary" href="{{ request.route_url('backend_theme_config_banners_edit', theme_name=each_theme_config.name) }}">橫幅設定</a>
                  <a class="btn btn-danger" href="#">刪除</a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
