{% extends "layouts/master.jinja2" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12"><h1>{{ theme_config['name'] }} 橫幅設定</h1></div>
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link" href="{{ request.route_url('backend_theme_config_general_edit', theme_name=theme_config['name']) }}">一般設定</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{ request.route_url('backend_theme_config_banner_edit', theme_name=theme_config['name']) }}">橫幅設定</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">上傳橫幅</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="row">
            <form action="" method="post">
              <div class="col-12"><a href="#" class="btn btn-primary">儲存顯示設定</a></div>
              {% for each_banner in banner_dict %}
                <div class="col-12">
                  <div class="card my-3">
                    <img src="{{ banner_dict[each_banner] }}" class="card-img-top" alt="{{ each_banner }}">
                    <div class="card-body py-2 d-flex justify-content-between">
                      <div class="form-check d-flex flex-column justify-content-center">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">顯示</label>
                      </div>
                      <a href="#" class="btn btn-danger">刪除</a>
                    </div>
                  </div>
                </div>
              {% endfor %}
              <div class="col-12"><a href="#" class="btn btn-primary">儲存顯示設定</a></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
