{% extends "layouts/master.jinja2" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12"><h1>上傳樣板</h1></div>
    {% if form.errors %}
      <div class="col-12">
        <div class="alert alert-danger" role="alert">
          <ul>
            {% for key in form.errors %}
              {% for msg in form.errors[key] %}
                <li>{{ msg }}</li>
              {% endfor %}
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}
    <div class="col-12">
      <div class="alert alert-warning" role="alert">
        上傳的樣板請壓縮成一個 .zip 檔案上傳，可將多個樣板壓縮在同一個 zip 檔一起上傳。
      </div>
      <form action="" method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ get_csrf_token() }}">
        <div class="form-group">
          {{ form.theme.label() }}
          {{ form.theme(class_='form-control-file') }}
        </div>
        <div class="col-12">{{ form.submit(class_='btn btn-primary') }}</div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
