{% extends "layouts/master.jinja2" %}
{% from 'macros.jinja2' import generate_user_group_trees %}
{% block page_css %}
<link href="{{ 'tp_yass:themes/default/static/css/jquery.bonsai-2.1.1.css'|static_path }}" rel="stylesheet">
{% endblock page_css %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12"><h1>使用者群組 - 編輯</h1></div>
    <div class="col-12">
      {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            <ul>
            {% for key in form.errors %}
              {% for msg in form.errors[key] %}
              <li>{{ msg }}</li>
              {% endfor %}
            {% endfor %}
            </ul>
        </div>
      {% endif %}
      <form action="" method="POST">
        <input type="hidden" name="csrf_token" value="{{ get_csrf_token() }}">
        <div class="form-group">
          {{ form.name.label() }}
          {{ form.name(class_='form-control', placeholder='請輸入名稱') }}
        </div>
        <div class="form-group">
          {{ form.type.label() }}
          {{ form.type(class_='form-control') }}
        </div>
        <div class="form-group">
          {{ form.order.label() }}
          {{ form.order(class_='form-control') }}
        </div>
        <div class="form-group">
          {{ form.ancestor_id.label() }}
          {{ generate_user_group_trees(request, 'ancestor_id', group_trees, use_link=False) }}
        </div>
        <button type="submit" class="btn btn-primary mb-3">修改</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
{% block page_js %}
<script src="{{ 'tp_yass:themes/default/static/js/jquery.qubit-2.0.9.js'|static_path }}"></script>
<script src="{{ 'tp_yass:themes/default/static/js/jquery.bonsai-2.1.1.js'|static_path }}"></script>
<script>
  $(function() {
    // 自己不該出現在選單中
    $('#root-group>li[data-value="{{ request.matchdict['group_id'] }}"]').remove();
    $('#root-group').bonsai({
      expandAll: true,
      createInputs: 'radio'
    });
    // 勾選上上層的 radio button
    $('#root-group>li[data-value="{{ request.matchdict['group_id'] }}"]').parent().parent().find('>input[type="radio"]').prop('checked', true);
  });
</script>
{% endblock page_js %}
