{% extends "layouts/master.jinja2" %}
{% from 'macros.jinja2' import generate_user_group_trees %}
{% block page_css %}
<link href="{{ 'tp_yass:themes/default/static/css/jquery.bonsai-2.1.1.css'|static_path }}" rel="stylesheet">
{% endblock page_css %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12"><h1>群組列表</h1></div>
    <div class="col-12">
      {{ generate_user_group_trees(request, 'group_trees', group_trees) }}
    </div>
  </div>
</div>
{% endblock content %}
{% block page_js %}
<script src="{{ 'tp_yass:themes/default/static/js/jquery.bonsai-2.1.1.js'|static_path }}"></script>
<script>
  $(function() {
    $('#root-group').bonsai({
      expandAll: true
    });
  });
</script>
{% endblock page_js %}
