development.ini
production.ini
__pycache__
*.egg-info
*.swp
.coverage
.pytest_cache
.vscode
.venv
.tox
.idea/workspace.xml
.idea/dataSources/
.idea/dataSources.local.xml
data
!*/data
tp_yass/icons/
tp_yass/uploads/
docs/_build/
docs/tp_yass/
docs/images/
*.dot
ansible/ansible.log
ansible/roles/*
ansible/deploy.conf
