development.ini
production.ini
__pycache__
*.egg-info
*.swp
.coverage
.pytest_cache
.vscode
.venv
.tox
.idea/workspace.xml
.idea/dataSources/
.idea/dataSources.local.xml
yascms/uploads/
yascms/logs/
yascms/themes/*
!yascms/themes/yascms2020
yascms/static/*
!yascms/static/yascms2020
docs/_build/
docs/yascms/
docs/images/uml_class_diagram.png
docs/images/package_import_diagram.png
*.dot
ansible/ansible.log
ansible/roles/*
ansible/deploy.conf
sessions/
