development.ini
production.ini
wsgi.py
__pycache__
*.egg-info
*.swp
.coverage
.pytest_cache
.vscode
.venv
.tox
.idea/workspace.xml
.idea/dataSources/
.idea/dataSources.local.xml
data
!*/data
tp_yass/themes/tp_yass/static/uploads/**
