###
# app configuration
# https://docs.pylonsproject.org/projects/pyramid/en/latest/narr/environment.html
###

[app:main]
use = egg:tp_yass

pyramid.reload_templates = false
pyramid.debug_authorization = false
pyramid.debug_notfound = false
pyramid.debug_routematch = false
pyramid.default_locale_name = en
pyramid.includes =
    pyramid_exclog

# activate some useful filters of jinja2
jinja2.filters =
    route_url = pyramid_jinja2.filters:route_url_filter
    static_url = pyramid_jinja2.filters:static_url_filter
    route_path = pyramid_jinja2.filters:route_path_filter
    static_path = pyramid_jinja2.filters:static_path_filter
jinja2.lstrip_blocks = true
jinja2.trim_blocks = true

# secret key for pyramid security framework
auth.secret = CHANGE_ME

# pyramid_beaker settings
session.type = file
session.data_dir = %(here)s/data/sessions/data
session.lock_dir = %(here)s/data/sessions/lock
session.key = tp_yass
session.secret = CHANGE_ME
session.cookie_on_exception = true

#sqlalchemy.url = mysql+pymysql://user:pass@localhost/foo?charset=utf8mb4
sqlalchemy.url =
sqlalchemy.pool_recycle = 3600

retry.attempts = 3

###
# wsgi server configuration
###

[alembic]
# path to migration scripts
script_location = tp_yass/alembic
file_template = %%(year)d%%(month).2d%%(day).2d_%%(rev)s
# file_template = %%(rev)s_%%(slug)s

[server:main]
use = egg:waitress#main
listen = *:6543

###
# logging configuration
# https://docs.pylonsproject.org/projects/pyramid/en/latest/narr/logging.html
###

[loggers]
keys = root, tp_yass, sqlalchemy, alembic, exc_logger

[handlers]
keys = file, exc_handler

[formatters]
keys = generic, exc_formatter

[logger_root]
level = WARN
handlers = file

[logger_tp_yass]
level = WARN
handlers = file
qualname = tp_yass

[logger_sqlalchemy]
level = WARN
handlers = file
qualname = sqlalchemy.engine
# "level = INFO" logs SQL queries.
# "level = DEBUG" logs SQL queries and results.
# "level = WARN" logs neither.  (Recommended for production systems.)

[logger_alembic]
level = WARN
handlers = file
qualname = alembic

[logger_exc_logger]
level = ERROR
handlers = exc_handler
qualname = exc_logger

[handler_file]
class = FileHandler
args = ('%(here)s/logs/log.log',)
level = NOTSET
formatter = generic

[handler_exc_handler]
class = FileHandler
args = ('%(here)s/logs/exceptions.log',)
level = ERROR
formatter = exc_formatter

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s:%(lineno)s][%(threadName)s] %(message)s

[formatter_exc_formatter]
format = %(asctime)s %(message)s
