{% extends 'layouts/master.jinja2' %}
{% from 'auth_log_list_macros.jinja2' import paginate with context %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">登出入紀錄</li>
          <li class="breadcrumb-item active" aria-current="page">{% if request.GET['u'] %}{{ request.session['account'] }}{% else %}所有帳號{% endif %}</li>
        </ol>
      </nav>
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-header">{% if request.GET['u'] %}{{ request.session['account'] }}{% else %}所有帳號{% endif %}</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover table-striped text-center mb-0">
              <thead>
              <tr>
                <th scope="col" class="d-none d-md-table-cell">編號</th>
                <th scope="col" class="d-none d-sm-table-cell">時間</th>
                <th scope="col" class="d-none d-md-table-cell">帳號</th>
                <th scope="col" class="d-none d-md-table-cell">類型</th>
                <th scope="col" class="d-none d-md-table-cell">認証來源</th>
              </tr>
              </thead>
              <tbody>
              {% for each_auth_log in auth_log_list %}
                <tr>
                  <th scope="row">{{ loop.index + (page_number - 1) * quantity_per_page }}</th>
                  <td>{{ each_auth_log.datetime }}</td>
                  <td>{{ each_auth_log.user.account }}</td>
                  {% if each_auth_log.type == AuthLogType.LOGIN %}
                    <td>登入</td>
                  {% elif each_auth_log.type == AuthLogType.LOGOUT %}
                    <td>登出</td>
                  {% elif each_auth_log.type == AuthLogType.WRONG_PASSWORD %}
                    <td>密碼錯誤</td>
                  {% endif %}
                  <td>{{ each_auth_log.source }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          {{ paginate('登出入紀錄列表分頁', 'backend_auth_log_list', page_quantity_of_total_auth_logs, page_number, quantity_per_page) }}
        </div>
      </div>
    </div>
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-3">
          <li class="breadcrumb-item">登出入紀錄</li>
          <li class="breadcrumb-item active" aria-current="page">{% if request.GET['u'] %}{{ request.session['account'] }}{% else %}所有帳號{% endif %}</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
{% endblock content %}
