{% extends 'layouts/master.jinja2' %}
{% block page_css %}
  <link rel="stylesheet" href="{{ request.static_path('yascms:static/' ~ request.effective_theme_name ~ '/css/summernote-0.8.18/summernote-bs4.min.css') }}">
  <link rel="stylesheet" href="{{ request.static_path('yascms:static/' ~ request.effective_theme_name ~ '/css/jquery.datetimepicker-2.5.11.min.css') }}">
{% endblock page_css %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">最新消息</li>
          <li class="breadcrumb-item"><a href="{{ request.route_url('backend_news_list') }}">最新消息列表</a></li>
          <li class="breadcrumb-item active" aria-current="page">建立最新消息</li>
        </ol>
      </nav>
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-header">建立最新消息</div>
        <div class="card-body">
          {% if form.errors %}
            <div class="alert alert-danger"  role="alert">
              <ul>
                {% for key in form.errors %}
                  {% for msg in form.errors[key] %}
                    <li>{{ msg }}</li>
                  {% endfor %}
                {% endfor %}
              </ul>
            </div>
          {% endif %}
          <form action="" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ get_csrf_token() }}">
            <div class="mb-3">
              <button type="submit" class="btn btn-primary">建立</button> <button type="reset" class="btn btn-danger">重設</button>
            </div>
            <div class="form-group">
              {{ form.title.label() }}
              {{ form.title(class_='form-control', placeholder='請輸入標題') }}
            </div>
            <div class="form-group">
              {{ form.content.label() }}
              {{ form.content(class_='form-control', placeholder='請輸入內容') }}
            </div>
            <div class="form-group">
              {{ form.group_id.label() }}
              {{ form.group_id(class_='form-control') }}
            </div>
            <div class="form-group">
              {{ form.category_id.label() }}
              {{ form.category_id(class_='form-control') }}
            </div>
            <div class="form-group">
              {{ form.attachments.label() }}
              {{ form.attachments() }}
            </div>
            <div class="form-group form-check">
              {{ form.is_pinned(class_='form-check-input') }}
              {{ form.is_pinned.label(class_="form-check-label") }}
            </div>
            <div class="form-group">
              {{ form.pinned_start_datetime.label() }}
              {{ form.pinned_start_datetime(class_='form-control') }}
            </div>
            <div class="form-group">
              {{ form.pinned_end_datetime.label() }}
              {{ form.pinned_end_datetime(class_='form-control') }}
            </div>
            <div class="form-group">
              {{ form.visible_start_datetime.label() }}
              {{ form.visible_start_datetime(class_='form-control') }}
            </div>
            <div class="form-group">
              {{ form.visible_end_datetime.label() }}
              {{ form.visible_end_datetime(class_='form-control') }}
            </div>
            <div class="form-group">
              {{ form.tags.label() }}
              {{ form.tags(class_='form-control', placeholder='請輸入標籤名稱（使用逗號分隔）') }}
            </div>
            <button type="submit" class="btn btn-primary">建立</button> <button type="reset" class="btn btn-danger">重設</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-3">
          <li class="breadcrumb-item">最新消息</li>
          <li class="breadcrumb-item"><a href="{{ request.route_url('backend_news_list') }}">最新消息列表</a></li>
          <li class="breadcrumb-item active" aria-current="page">建立最新消息</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
{% endblock content %}
{% block page_js %}
  <script src="{{ request.static_path('yascms:static/' ~ request.effective_theme_name ~ '/js/summernote-bs4-0.8.18.min.js') }}"></script>
  <script src="{{ request.static_path('yascms:static/' ~ request.effective_theme_name ~ '/js/summernote-zh-TW-0.8.18.min.js') }}"></script>
  <script src="{{ request.static_path('yascms:static/' ~ request.effective_theme_name ~ '/js/jquery.datetimepicker.full-2.5.11.min.js') }}"></script>
  <script>
    function generate_pinned_input_format(date) {
      let year = date.getFullYear();
      let month = (date.getMonth() + 1).toString().padStart(2, '0');
      let day = date.getDate().toString().padStart(2, '0');
      let hours = date.getHours().toString().padStart(2, 0)
      let minutes = date.getMinutes().toString().padStart(2, '0')
      let seconds = date.getSeconds().toString().padStart(2, '0')
      return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`
    }
    $(function (){
      $('#content').summernote({
        lang: 'zh-TW',
        height: 300
      });
      $.datetimepicker.setLocale('zh-TW');
      $('#pinned_start_datetime, #pinned_end_datetime, #visible_start_datetime, #visible_end_datetime').datetimepicker({
        format: 'Y-m-d H:i:s'
      });
      let pinned_checkbox = $('#is_pinned');
      let pinned_inputs = $('#pinned_start_datetime, #pinned_end_datetime');
      if (pinned_checkbox.prop('checked') === true) {
        let now = new Date();
        $('#pinned_start_datetime').val(generate_pinned_input_format(now));
        let pinned_end_datetime = new Date(now);
        pinned_end_datetime.setDate(pinned_end_datetime.getDate() + 7); // 預設置頂 7 天
        $('#pinned_end_datetime').val(generate_pinned_input_format(pinned_end_datetime));
        pinned_inputs.prop('disabled', false);
      } else {
        pinned_inputs.prop('disabled', true);
        pinned_inputs.val('')
      }
      pinned_checkbox.change(function (){
        if ($(this).prop('checked') === true) {
          let now = new Date();
          $('#pinned_start_datetime').val(generate_pinned_input_format(now));
          let pinned_end_datetime = new Date(now);
          pinned_end_datetime.setDate(pinned_end_datetime.getDate() + 7); // 預設置頂 7 天
          $('#pinned_end_datetime').val(generate_pinned_input_format(pinned_end_datetime));
          pinned_inputs.prop('disabled', false);
        } else {
          pinned_inputs.prop('disabled', true);
          pinned_inputs.val('')
        }
      })
    });
  </script>
{% endblock %}
