{% extends 'layouts/master.jinja2' %}
{% from 'yascms:themes/' ~ request.effective_theme_name ~ '/macros.jinja2' import paginate with context %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">最新消息</li>
          <li class="breadcrumb-item active" aria-current="page">最新消息列表</li>
        </ol>
      </nav>
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-header">最新消息列表</div>
        <div class="card-body">
          <a href="{{ request.route_url('backend_news_create') }}" class="btn btn-primary mb-3">建立最新消息</a>
          <div class="table-responsive">
            <table class="table table-hover table-striped text-center">
              <thead>
              <tr>
                <th scope="col" class="d-none d-xl-table-cell">編號</th>
                <th scope="col" class="d-none d-md-table-cell">日期</th>
                <th scope="col" class="d-none d-md-table-cell">分類</th>
                <th scope="col" class="d-none d-sm-table-cell">標題</th>
                <th scope="col" class="d-none d-md-table-cell">群組</th>
                <th scope="col" class="d-none d-xl-table-cell">標籤</th>
                <th scope="col" class="d-none d-sm-table-cell">動作</th>
              </tr>
              </thead>
              <tbody>
              {% for each_news in news_list %}
                <tr>
                  <th scope="row" class="d-none d-xl-table-cell align-middle">{{ loop.index + (page_number - 1) * quantity_per_page }}</th>
                  <td class="d-none d-md-table-cell align-middle">{{ each_news.publication_datetime }}</td>
                  <td class="d-none d-md-table-cell align-middle">{{ each_news.category.name }}</td>
                  <td class="d-table-cell text-left align-middle p-0">
                    <a class="d-block p-3" href="{{ request.route_url('news_get', news_id=each_news.id) }}">
                      <div class="d-flex justify-content-between align-items-center">
                        <span>
                          {% if each_news.is_pinned %}
                            <i class="bi bi-pin"></i>
                          {% endif %}
                          {{ each_news.title }}
                          {% if each_news.pinned_start_datetime and today < each_news.pinned_start_datetime %}
                            <span class="badge badge-warning"><i class="bi bi-pin-angle"></i> 未到置頂時間</span>
                          {% elif each_news.pinned_end_datetime and today >= each_news.pinned_end_datetime %}
                            <span class="badge badge-danger"><i class="bi bi-pin-angle"></i> 已過置頂時間</span>
                          {% endif %}
                          {% if each_news.visible_start_datetime and now < each_news.visible_start_datetime %}
                            <span class="badge badge-warning"><i class="bi bi-eye-slash"></i> 未到顯示時間</span>
                          {% elif each_news.visible_end_datetime and now >= each_news.visible_end_datetime %}
                            <span class="badge badge-danger"><i class="bi bi-eye-slash"></i> 已過顯示時間</span>
                          {% endif %}
                        </span>
                        <span class="badge badge-pill badge-primary d-md-none">{{ each_news.publication_datetime.strftime('%Y-%m-%d %H:%M') }}</span>
                      </div>
                    </a>
                  </td>
                  <td class="d-none d-md-table-cell align-middle">{{ each_news.group.name }}</td>
                  <td class="d-none d-xl-table-cell align-middle">
                    {% for each_tag in each_news.tags %}
                      {{ each_tag.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                  </td>
                  <td class="d-table-cell align-middle">
                    {% if request.session['is_admin'] or each_news.group.id in request.session['main_group_id_list'] %}
                      <a class="btn btn-primary" href="{{ request.route_url('backend_news_edit', news_id=each_news.id) }}">編輯</a>
                      <a class="btn btn-danger" href="{{ request.route_url('backend_news_delete', news_id=each_news.id) }}">刪除</a>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          {{ paginate("最新消息列表分頁", "backend_news_list", page_quantity_of_total_news, page_number, quantity_per_page) }}
          <a href="{{ request.route_url('backend_news_create') }}" class="btn btn-primary">建立最新消息</a>
        </div>
      </div>
    </div>
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">最新消息</li>
          <li class="breadcrumb-item active" aria-current="page">最新消息列表</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
{% endblock content %}
