{% extends 'yascms:themes/' ~ request.effective_theme_name ~ '/macros.jinja2' %}

{% block first_page_url %}
  {{ request.route_url('backend_news_list', _query={'p': 1, 'q': quantity_per_page, 'k': request.GET['k'], 'v': request.GET['v']}) }}
{% endblock %}

{% block next_page_url %}
  {{ request.route_url('backend_news_list', _query={'p': current_page_number+1, 'q': quantity_per_page, 'k': request.GET['key'], 'v': request.GET['v']}) }}
{% endblock %}

{% block prev_page_url %}
  {{ request.route_url('backend_news_list', _query={'p': current_page_number-1, 'q': quantity_per_page, 'k': request.GET['k'], 'v': request.GET['v']}) }}
{% endblock %}

{% block last_page_url %}
  {{ request.route_url('backend_news_list', _query={'p': quantity_of_pages, 'q': quantity_per_page, 'k': request.GET['k'], 'v': request.GET['v']}) }}
{% endblock %}
