body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.footer-bg {
  background-color: #e2f7ff;
}

.jumbotron-bg {
  background-image: url("https://picsum.photos/2000/400/?random");
  background-size: cover;
  background-position: center center;
}

.bg-trans {
  background-color: rgba(255, 255, 255, 0.25);
}

@media (min-width: 992px) {
  .navbar-toggler {
    display: none;
  }
  .navbar-expand-lg {
    flex-flow: column nowrap;
    height: 100%;
  }
  .navbar-collapse {
    flex-flow: column nowrap;
  }
}

.sidebar {
  flex-grow: 0;
}

.search-btn-icon {
  border-radius: 0px;
}
