{% extends "layouts/master.jinja2" %}
{% block content %}
<div class="jumbotron jumbotron-fluid jumbotron-bg my-0">
  <div class="container">
    <div class="bg-trans p-2 text-white">
      <h1 class="display-4 d-md-block d-sm-none d-none">{{ request.sysconfig['site_name'] }}</h1>
      <p class="lead">{{ request.sysconfig['site_slogan'] }}</p>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid mb-3 p-2" style="background-color:#3498db;">
  <div class="container">
    <p class="h1 display-5 text-center text-white"><i class="fas fa-bullhorn"></i> 最新消息</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card border-primary mb-3">
        <div class="table-responsive">
          <table class="table table-hover table-striped text-center mb-0">
            <thead>
              <tr>
                <th scope="col" class="d-none d-md-table-cell">編號</th>
                <th scope="col" class="d-none d-md-table-cell">時間</th>
                <th scope="col" class="d-none d-sm-table-cell">發佈單位</th>
                <th scope="col" class="d-none d-sm-table-cell">類別</th>
                <th scope="col" class="d-none d-sm-table-cell">標題</th>
              </tr>
            </thead>
            <tbody>
              {% for each_news in news %}
                <tr>
                  <th class="d-none d-md-table-cell" scope="row">{{ loop.index }}</th>
                  <td class="d-none d-md-table-cell">{{ each_news.publication_date }}</td>
                  <td class="d-none d-sm-table-cell">{{ each_news.group.name }}</td>
                  <td class="d-none d-sm-table-cell">{{ each_news.category.name }}</td>
                  <td style="padding: 0px;"><a style="display: block; width: 100%; height: 100%; padding: .75rem;" href="#"><li class="d-flex justify-content-between align-items-center"><span>{% if each_news.is_pinned %}<i class="fas fa-thumbtack"></i> {% endif %}{{ each_news.title }}</span><span class="badge badge-pill badge-primary d-md-none">2019-02-26</span></li></a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-12 text-center"><button type="button" class="btn btn-primary btn-lg">觀看更多最新消息</button></div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid my-3 p-2 d-none d-sm-block" style="background-color: #1abc9c;">
  <div class="container">
    <p class="h1 display-5 text-center text-white"><i class="fas fa-calendar-alt"></i> 行事曆</p>
  </div>
</div>

<div class="container d-none d-sm-block">
  <div class="row">
    <div class="col">
      <iframe src="{{ request.sysconfig['site_google_calendar_embedded_url'] }}" style="border: 0" width="100%" height="700" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid my-3 p-2" style="background-color: #2ecc71;">
  <div class="container">
    <p class="h1 display-5 text-center text-white"><i class="fas fa-phone"></i> 常用分機</a></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 py-1">
      <a href="tel:+886-2-85021571" class="btn btn-outline-success btn-lg btn-block">學生請假專線</a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 py-1">
      <a href="tel:+886-2-85021571" class="btn btn-outline-success btn-lg btn-block">學務處</a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 py-1">
      <a href="tel:+886-2-85021571" class="btn btn-outline-success btn-lg btn-block">教務處</a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 py-1">
      <a href="tel:+886-2-85021571" class="btn btn-outline-success btn-lg btn-block">警衛室</a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 py-1">
      <a href="tel:+886-2-85021571" class="btn btn-outline-success btn-lg btn-block">幼兒園請假專線</a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 py-1">
      <a href="tel:+886-2-85021571" class="btn btn-outline-success btn-lg btn-block">數學輔導團</a>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid my-3 p-2 d-none d-sm-block" style="background-color: #e67e22;">
  <div class="container">
    <p class="h1 display-5 text-center text-white"><i class="fas fa-link"></i> 好站連結</p>
  </div>
</div>

<div class="container d-none d-sm-block">
  <div class="row text-center align-items-center">
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 py-1">
      <img src="https://picsum.photos/120/60/?random=1" class="img-fluid img-thumbnail align-middle" alt="Responsive image">
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 py-1">
      <img src="https://picsum.photos/140/60/?random=2" class="img-fluid img-thumbnail align-middle" alt="Responsive image">
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 py-1">
      <img src="https://picsum.photos/120/60/?random=3" class="img-fluid img-thumbnail align-middle" alt="Responsive image">
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 py-1">
      <img src="https://picsum.photos/150/60/?random=4" class="img-fluid img-thumbnail align-middle" alt="Responsive image">
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 py-1">
      <img src="https://picsum.photos/120/60/?random=5" class="img-fluid img-thumbnail align-middle" alt="Responsive image">
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 py-1">
      <img src="https://picsum.photos/100/60/?random=6" class="img-fluid img-thumbnail align-middle" alt="Responsive image">
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 py-1">
      <img src="https://picsum.photos/120/60/?random=7" class="img-fluid img-thumbnail align-middle" alt="Responsive image">
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 py-1">
      <img src="https://picsum.photos/120/50/?random=8" class="img-fluid img-thumbnail align-middle" alt="Responsive image">
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 py-1">
      <img src="https://picsum.photos/120/60/?random=9" class="img-fluid img-thumbnail align-middle" alt="Responsive image">
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 py-1">
      <img src="https://picsum.photos/120/70/?random=10" class="img-fluid img-thumbnail align-middle" alt="Responsive image">
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 py-1">
      <img src="https://picsum.photos/120/40/?random=11" class="img-fluid img-thumbnail align-middle" alt="Responsive image">
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 py-1">
      <img src="https://picsum.photos/120/60/?random=12" class="img-fluid img-thumbnail align-middle" alt="Responsive image">
    </div>
  </div>
  <div class="col-12 text-center mt-2"><button type="button" class="btn btn-lg text-white" style="background-color: #1abc9c;">觀看更多好站連結</button></div>
</div>
{% endblock content %}
