{% extends "layouts/master.jinja2" %}
{% block content %}
<div class="container">
  <form action="" method="post">
    <input type="hidden" name="csrf_token" value="{{ get_csrf_token() }}">
    <div class="row justify-content-center mt-3">
      <div class="col-12 col-md-8">
        <label for="account">帳號</label>
        <input type="text" class="form-control" name="account" id="account" placeholder="帳號" maxlength="50" required>
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-12 col-md-8">
        <label for="password">密碼</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="密碼" maxlength="130" required>
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-12 col-md-8 text-center">
        <input type="submit" class="btn btn-primary" value="登入"> <input type="reset" class="btn btn-danger" value="重設">
      </div>
    </div>
  </form>
</div>
{% endblock content %}
{% block footer %}{% endblock footer %}
