{% extends "layouts/master.jinja2" %}
{% from "macros.jinja2" import generate_news_block, generate_telext_block, generate_links_block with context %}
{% block content %}

  {% for each_item in homepage_items_list %}
    {% if each_item['type'] == HomepageOrderType.NEWS.value %}
      {{ generate_news_block(each_item['entities']) }}
    {% elif each_item['type'] == HomepageOrderType.PAGE.value %}
      {{ generate_page_block(each_item['entities']) }}
    {% elif each_item['type'] == HomepageOrderType.TELEXT.value %}
      {{ generate_telext_block(each_item['entities']) }}
    {% elif each_item['type'] == HomepageOrderType.LINKS.value %}
      {{ generate_links_block(each_item['entities']) }}
    {% endif %}
  {% endfor %}

{% endblock content %}
