{% extends 'layouts/master.jinja2' %}
{% from 'news_list_macros.jinja2' import paginate with context %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ request.route_url('homepage') }}">首頁</a></li>
    {% if news_category %}
      <li class="breadcrumb-item"><a href="{{ request.route_url('news_list') }}">最新消息</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ news_category.name }}</li>
    {% else %}
      <li class="breadcrumb-item active" aria-current="page">最新消息</li>
    {% endif %}
  </ol>
</nav>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card mb-3">
        <div class="table-responsive">
          <table class="table table-hover table-striped text-center mb-0">
            <thead>
              <tr>
                <th scope="col" class="d-none d-md-table-cell">編號</th>
                <th scope="col" class="d-none d-md-table-cell">時間</th>
                <th scope="col" class="d-none d-sm-table-cell">發佈單位</th>
                <th scope="col" class="d-none d-sm-table-cell">類別</th>
                <th scope="col" class="d-none d-sm-table-cell">標題</th>
              </tr>
            </thead>
            <tbody>
              {% for each_news in news_list %}
                <tr>
                  {% if page_number > 1 %}
                    <th class="d-none d-md-table-cell" scope="row">{{ loop.index * page_number * quantity_per_page }}</th>
                  {% else %}
                    <th class="d-none d-md-table-cell" scope="row">{{ loop.index * page_number }}</th>
                  {% endif %}
                  <td class="d-none d-md-table-cell">{{ each_news.publication_datetime }}</td>
                  <td class="d-none d-sm-table-cell">{{ each_news.group.name }}</td>
                  <td class="d-none d-sm-table-cell">{{ each_news.category.name }}</td>
                  <td style="padding: 0px;"><a style="display: block; width: 100%; height: 100%; padding: .75rem;" href="{{ request.route_url('news_get', news_id=each_news.id) }}"><li class="d-flex justify-content-between align-items-center"><span>{% if each_news.is_pinned and today >= each_news.pinned_start_datetime and today < each_news.pinned_end_datetime %}<i class="bi bi-pin"></i> {% endif %}{{ each_news.title }}</span><span class="badge badge-pill badge-primary d-md-none">{{ each_news.publication_datetime.strftime('%Y-%m-%d %H:%M') }}</span></li></a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {{ paginate("最新消息列表分頁", "news_list", page_quantity_of_total_news, page_number, quantity_per_page) }}
    </div>
  </div>
</div>
{% endblock content %}
