<div class="jumbotron jumbotron-fluid jumbotron-bg my-3">
  <div class="container">
    <div class="bg-trans p-2 text-white">
      <h1 class="display-4 d-sm-block d-none">臺北市中山區濱江國民小學</h1>
      <p class="lead">快樂學習 - 教學相長</p>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid mb-3 p-2" style="background-color:#3498db;">
  <div class="container">
    <p class="h1 display-5 text-center text-white"><i class="fas fa-bullhorn"></i> 最新消息</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card border-primary mb-3">
        <div class="table-responsive">
          <table class="table table-hover table-striped text-center">
            <thead>
              <tr>
                <th scope="col" class="d-none d-md-table-cell">編號</th>
                <th scope="col" class="d-none d-md-table-cell">時間</th>
                <th scope="col" class="d-none d-sm-table-cell">發佈單位</th>
                <th scope="col" class="d-none d-sm-table-cell">類別</th>
                <th scope="col" class="d-none d-sm-table-cell">標題</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="d-none d-md-table-cell" scope="row">1</th>
                <td class="d-none d-md-table-cell">2019-02-26</td>
                <td class="d-none d-sm-table-cell">教務處資訊組</td>
                <td class="d-none d-sm-table-cell">教師甄試</td>
                <td style="padding: 0px;"><a style="display: block; width: 100%; height: 100%; padding: .75rem;" href="#"><li class="d-flex justify-content-between align-items-center"><span><i class="fas fa-thumbtack"></i> 教甄開跑</span><span class="badge badge-pill badge-primary d-md-none">2019-02-26</span></li></a></td>
              </tr>
              <tr>
                <th class="d-none d-md-table-cell" scope="row">2</th>
                <td class="d-none d-md-table-cell">2019-02-26</td>
                <td class="d-none d-sm-table-cell">人事室</td>
                <td class="d-none d-sm-table-cell">行政公告</td>
                <td style="padding: 0px;"><a style="display: block; width: 100%; height: 100%; padding: .75rem;" href="#"><li class="d-flex justify-content-between align-items-center"><span><i class="fas fa-thumbtack"></i> 退休申請請於年底前送件</span><span class="badge badge-pill badge-primary d-md-none">2019-02-26</span></li></a></td>
              </tr>
              <tr>
                <th class="d-none d-md-table-cell" scope="row">3</th>
                <td class="d-none d-md-table-cell">2019-02-26</td>
                <td class="d-none d-sm-table-cell">教務處資訊組</td>
                <td class="d-none d-sm-table-cell">學校榮譽</td>
                <td style="padding: 0px;"><a style="display: block; width: 100%; height: 100%; padding: .75rem;" href="#"><li class="d-flex justify-content-between align-items-center"><span>獎助學金開始申請</span><span class="badge badge-pill badge-primary d-md-none d-inline">2019-02-26</span></li></a></td>
              </tr>
              <tr>
                <th class="d-none d-md-table-cell" scope="row">4</th>
                <td class="d-none d-md-table-cell">2019-02-26</td>
                <td class="d-none d-sm-table-cell">教務處資訊組</td>
                <td class="d-none d-sm-table-cell">學校榮譽</td>
                <td style="padding: 0px;"><a style="display: block; width: 100%; height: 100%; padding: .75rem;" href="#"><li class="d-flex justify-content-between align-items-center"><span>獎助學金開始申請</span><span class="badge badge-pill badge-primary d-md-none d-inline">2019-02-26</span></li></a></td>
              </tr>
              <tr>
                <th class="d-none d-md-table-cell" scope="row">5</th>
                <td class="d-none d-md-table-cell">2019-02-26</td>
                <td class="d-none d-sm-table-cell">教務處教務主任</td>
                <td class="d-none d-sm-table-cell">學校榮譽</td>
                <td style="padding: 0px;"><a style="display: block; width: 100%; height: 100%; padding: .75rem;" href="#"><li class="d-flex justify-content-between align-items-center"><span>獎助學金開始申請</span><span class="badge badge-pill badge-primary d-md-none d-inline">2019-02-26</span></li></a></td>
              </tr>
              <tr>
                <th class="d-none d-md-table-cell" scope="row">6</th>
                <td class="d-none d-md-table-cell">2019-02-26</td>
                <td class="d-none d-sm-table-cell">教務處教務主任</td>
                <td class="d-none d-sm-table-cell">學校榮譽</td>
                <td style="padding: 0px;"><a style="display: block; width: 100%; height: 100%; padding: .75rem;" href="#"><li class="d-flex justify-content-between align-items-center"><span>獎助學金開始申請</span><span class="badge badge-pill badge-primary d-md-none d-inline">2019-02-26</span></li></a></td>
              </tr>
              <tr>
                <th class="d-none d-md-table-cell" scope="row">7</th>
                <td class="d-none d-md-table-cell">2019-02-26</td>
                <td class="d-none d-sm-table-cell">教務處教務主任</td>
                <td class="d-none d-sm-table-cell">學校榮譽</td>
                <td style="padding: 0px;"><a style="display: block; width: 100%; height: 100%; padding: .75rem;" href="#"><li class="d-flex justify-content-between align-items-center"><span>獎助學金開始申請</span><span class="badge badge-pill badge-primary d-md-none d-inline">2019-02-26</span></li></a></td>
              </tr>
              <tr>
                <th class="d-none d-md-table-cell" scope="row">8</th>
                <td class="d-none d-md-table-cell">2019-02-26</td>
                <td class="d-none d-sm-table-cell">教務處教務主任</td>
                <td class="d-none d-sm-table-cell">學校榮譽</td>
                <td style="padding: 0px;"><a style="display: block; width: 100%; height: 100%; padding: .75rem;" href="#"><li class="d-flex justify-content-between align-items-center"><span>獎助學金開始申請</span><span class="badge badge-pill badge-primary d-md-none d-inline">2019-02-26</span></li></a></td>
              </tr>
              <tr>
                <th class="d-none d-md-table-cell" scope="row">9</th>
                <td class="d-none d-md-table-cell">2019-02-26</td>
                <td class="d-none d-sm-table-cell">教務處教務主任</td>
                <td class="d-none d-sm-table-cell">學校榮譽</td>
                <td style="padding: 0px;"><a style="display: block; width: 100%; height: 100%; padding: .75rem;" href="#"><li class="d-flex justify-content-between align-items-center"><span>獎助學金開始申請</span><span class="badge badge-pill badge-primary d-md-none d-inline">2019-02-26</span></li></a></td>
              </tr>
              <tr>
                <th class="d-none d-md-table-cell" scope="row">10</th>
                <td class="d-none d-md-table-cell">2019-02-26</td>
                <td class="d-none d-sm-table-cell">教務處教務主任</td>
                <td class="d-none d-sm-table-cell">學校榮譽</td>
                <td style="padding: 0px;"><a style="display: block; width: 100%; height: 100%; padding: .75rem;" href="#"><li class="d-flex justify-content-between align-items-center"><span>獎助學金開始申請</span><span class="ml-auto badge badge-pill badge-primary d-md-none d-inline">2019-02-26</span></li></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-12 text-center"><button type="button" class="btn btn-primary btn-lg">觀看更多最新消息</button></div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid my-3 p-2 d-none d-sm-block" style="background-color: #1abc9c;">
  <div class="container">
    <p class="h1 display-5 text-center text-white"><i class="fas fa-calendar-alt"></i> 行事曆</p>
  </div>
</div>

<div class="container d-none d-sm-block">
  <div class="row">
    <div class="col">
      <iframe src="https://calendar.google.com/calendar/embed?src=mail.bjes.tp.edu.tw_p5np58k8dbekppa6utlb8pbkek%40group.calendar.google.com&ctz=Asia%2FTaipei" style="border: 0" width="100%" height="700" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid my-3 p-2" style="background-color: #2ecc71;">
  <div class="container">
    <p class="h1 display-5 text-center text-white"><i class="fas fa-phone"></i> 常用分機</a></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 py-1">
      <a href="tel:+886-2-85021571" class="btn btn-outline-success btn-lg btn-block">學生請假專線</a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 py-1">
      <a href="tel:+886-2-85021571" class="btn btn-outline-success btn-lg btn-block">學務處</a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 py-1">
      <a href="tel:+886-2-85021571" class="btn btn-outline-success btn-lg btn-block">教務處</a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 py-1">
      <a href="tel:+886-2-85021571" class="btn btn-outline-success btn-lg btn-block">警衛室</a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 py-1">
      <a href="tel:+886-2-85021571" class="btn btn-outline-success btn-lg btn-block">幼兒園請假專線</a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 py-1">
      <a href="tel:+886-2-85021571" class="btn btn-outline-success btn-lg btn-block">數學輔導團</a>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid my-3 p-2 d-none d-sm-block" style="background-color: #e67e22;">
  <div class="container">
    <p class="h1 display-5 text-center text-white"><i class="fas fa-link"></i> 好站連結</p>
  </div>
</div>

<div class="container d-none d-sm-block">
  <div class="row text-center align-items-center">
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 py-1">
      <img src="https://picsum.photos/120/60/?random=1" class="img-fluid img-thumbnail align-middle" alt="Responsive image">
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 py-1">
      <img src="https://picsum.photos/140/60/?random=2" class="img-fluid img-thumbnail align-middle" alt="Responsive image">
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 py-1">
      <img src="https://picsum.photos/120/60/?random=3" class="img-fluid img-thumbnail align-middle" alt="Responsive image">
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 py-1">
      <img src="https://picsum.photos/150/60/?random=4" class="img-fluid img-thumbnail align-middle" alt="Responsive image">
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 py-1">
      <img src="https://picsum.photos/120/60/?random=5" class="img-fluid img-thumbnail align-middle" alt="Responsive image">
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 py-1">
      <img src="https://picsum.photos/100/60/?random=6" class="img-fluid img-thumbnail align-middle" alt="Responsive image">
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 py-1">
      <img src="https://picsum.photos/120/60/?random=7" class="img-fluid img-thumbnail align-middle" alt="Responsive image">
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 py-1">
      <img src="https://picsum.photos/120/50/?random=8" class="img-fluid img-thumbnail align-middle" alt="Responsive image">
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 py-1">
      <img src="https://picsum.photos/120/60/?random=9" class="img-fluid img-thumbnail align-middle" alt="Responsive image">
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 py-1">
      <img src="https://picsum.photos/120/70/?random=10" class="img-fluid img-thumbnail align-middle" alt="Responsive image">
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 py-1">
      <img src="https://picsum.photos/120/40/?random=11" class="img-fluid img-thumbnail align-middle" alt="Responsive image">
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 py-1">
      <img src="https://picsum.photos/120/60/?random=12" class="img-fluid img-thumbnail align-middle" alt="Responsive image">
    </div>
  </div>
  <div class="col-12 text-center mt-2"><button type="button" class="btn btn-lg text-white" style="background-color: #1abc9c;">觀看更多好站連結</button></div>
</div>
