<!doctype html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{ 'tp_yass:themes/default/static/css/bootstrap-4.4.1.min.css'|static_path }}">
  <title>濱江國小網站</title>
  <style>
    body {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
    }
    .footer-bg {
      background-color: #e2f7ff;
    }

    .jumbotron-bg {
      background-image: url("https://picsum.photos/2000/400/?random");
      background-size: cover;
      background-position: center center;
    }

    .bg-trans {
      background-color: rgba(255, 255, 255, .25);
    }
  </style>
</head>

<body>
  {% block navbar %}{% include "navbar.jinja2" %}{% endblock navbar %}

  {% block content %}{% include "content.jinja2" %}{% endblock content %}

  {% block footer %}{% include "footer.jinja2" %}{% endblock footer%}

  <script src="{{ 'tp_yass:themes/default/static/js/jquery-3.4.1.slim.min.js'|static_path }}"></script>
  <script src="{{ 'tp_yass:themes/default/static/js/popper-1.16.0.min.js'|static_path }}"></script>
  <script src="{{ 'tp_yass:themes/default/static/js/bootstrap-4.4.1.min.js'|static_path }}"></script>
  <script src="{{ 'tp_yass:themes/default/static/js/fontawesome-all-5.11.2.min.js'|static_path }}"></script>
</body>

</html>
