<nav class="navbar navbar-expand-xl navbar-dark bg-primary">
  <a class="navbar-brand" href="#">濱江國小</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarNewsDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bullhorn"></i> 最新消息
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarNewsDropdown">
          <a class="dropdown-item" href="#">行政公告</a>
          <a class="dropdown-item" href="#">學校榮譽</a>
          <a class="dropdown-item" href="#">教師甄試</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#"><i class="fas fa-newspaper"></i> 顯示全部</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarSchoolIntroDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-school"></i> 學校簡介
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarSchoolIntroDropdown">
          <a class="dropdown-item" href="#">學校歷史</a>
          <a class="dropdown-item" href="#">特色課程</a>
          <a class="dropdown-item" href="#">班群教室</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#"><i class="fas fa-calendar-alt"></i> 行事曆</a>
          <a class="dropdown-item" href="#"><i class="fas fa-phone"></i> 分機表</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarSchoolOfficeDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="far fa-building"></i> 校園單位
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarSchoolOfficeDropdown">
          <a class="dropdown-item" href="#">校長室</a>
          <a class="dropdown-item" href="#">教務處</a>
          <a class="dropdown-item" href="#">學務處</a>
          <a class="dropdown-item" href="#">輔導室</a>
          <a class="dropdown-item" href="#">總務處</a>
          <a class="dropdown-item" href="#">幼兒園</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarSchoolGardenDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="far fa-sun"></i> 師生園地
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarSchoolGardenDropdown">
          <a class="dropdown-item" href="#">資訊中心</a>
          <a class="dropdown-item" href="#">校內服務</a>
          <a class="dropdown-item" href="#">課後社團報名 <i class="fas fa-external-link-alt"></i></a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#"><i class="fas fa-chalkboard-teacher"></i> 班級網頁</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarOthersDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-globe-asia"></i> 外站連結
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarOthersDropdown">
          <a class="dropdown-item" href="#">臺北市政府教育局</a>
          <a class="dropdown-item" href="#">臺北市政府</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#"><i class="fas fa-link"></i> 好站連結</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="輸入關鍵字" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜尋</button>
    </form>
    <ul class="navbar-nav">
      {% if request.session['account'] %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarAccountDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{ request.session['first_name']}}{{ request.session['last_name']}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarAccountDropdown">
          <a class="dropdown-item" href="#">帳號設定</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ 'logout'|route_path }}">登出</a>
        </div>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{ 'login'|route_path }}"><i class="fas fa-sign-in-alt"></i> 登入</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
