<!doctype html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="{{ 'tp_yass:themes/default/static/css/bootstrap-4.4.1.min.css'|static_path }}">
  <link rel="stylesheet" href="{{ 'tp_yass:themes/default/static/css/jquery.smartmenus.bootstrap-4-1.1.0.css'|static_path }}">
  <link rel="apple-touch-icon" sizes="57x57" href="{{ 'tp_yass:webroot/apple-icon-57x57.png'|static_path }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ 'tp_yass:webroot/apple-icon-60x60.png'|static_path }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ 'tp_yass:webroot/apple-icon-72x72.png'|static_path }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ 'tp_yass:webroot/apple-icon-76x76.png'|static_path }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ 'tp_yass:webroot/apple-icon-114x114.png'|static_path }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ 'tp_yass:webroot/apple-icon-120x120.png'|static_path }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ 'tp_yass:webroot/apple-icon-144x144.png'|static_path }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ 'tp_yass:webroot/apple-icon-152x152.png'|static_path }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ 'tp_yass:webroot/apple-icon-180x180.png'|static_path }}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ 'tp_yass:webroot/android-icon-192x192.png'|static_path }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ 'tp_yass:webroot/favicon-32x32.png'|static_path }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ 'tp_yass:webroot/favicon-96x96.png'|static_path }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ 'tp_yass:webroot/favicon-16x16.png'|static_path }}">
  <link rel="manifest" href="{{ 'tp_yass:webroot/manifest.json'|static_path }}">
  <link rel="stylesheet" href="{{ 'tp_yass:themes/default/static/css/common.css'|static_path  }}">
  {% block layout_css %}{% endblock layout_css %}
  {% block page_css %}{% endblock page_css %}
  <title>{{ request.site_config['site_name'] }}</title>
</head>
<body>
  {% block body %}{% endblock body %}
  <script src="{{ 'tp_yass:themes/default/static/js/jquery-3.5.1.min.js'|static_path }}"></script>
  <script src="{{ 'tp_yass:themes/default/static/js/popper-1.16.0.min.js'|static_path }}"></script>
  <script src="{{ 'tp_yass:themes/default/static/js/bootstrap.bundle-4.4.1.min.js'|static_path }}"></script>
  {% block layout_js %}{% endblock layout_js %}
  {% block page_js %}{% endblock page_js %}
</body>
</html>
