<!doctype html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{ 'tp_yass:static/css/bootstrap-4.4.1.min.css'|static_path }}">
  <link rel="stylesheet" href="{{ 'tp_yass:static/css/jquery.smartmenus.bootstrap-4-1.1.0.css'|static_path }}">
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/vnd.microsoft.icon">
  {% block layout_css %}{% endblock layout_css %}
  {% block page_css %}{% endblock page_css %}
  <title>{{ request.sys_config['site_name'] }}</title>
</head>
<body>
  {% block body %}{% endblock body %}
  <script src="{{ 'tp_yass:static/js/jquery-3.4.1.slim.min.js'|static_path }}"></script>
  <script src="{{ 'tp_yass:static/js/popper-1.16.0.min.js'|static_path }}"></script>
  <script src="{{ 'tp_yass:static/js/bootstrap.bundle-4.4.1.min.js'|static_path }}"></script>
  {% block layout_js %}{% endblock layout_js %}
  {% block page_js %}{% endblock page_js %}
</body>
</html>
