<!doctype html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ 'tp_yass:webroot/apple-touch-icon.png'|static_path }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ 'tp_yass:webroot/favicon-32x32.png'|static_path }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ 'tp_yass:webroot/favicon-16x16.png'|static_path }}">
  <link rel="manifest" href="{{ 'tp_yass:webroot/site.webmanifest'|static_path }}">
  <link rel="mask-icon" href="{{ 'tp_yass:webroot/safari-pinned-tab.svg'|static_path }}" color="#5bbad5">
  <link rel="stylesheet" href="{{ 'tp_yass:static/tp_yass2020/css/bootstrap-4.4.1.min.css'|static_path }}">
  <link rel="stylesheet" href="{{ 'tp_yass:static/tp_yass2020/css/jquery.smartmenus.bootstrap-4-1.1.0.css'|static_path }}">
  <link rel="stylesheet" href="{{ 'tp_yass:static/tp_yass2020/css/common.css'|static_path  }}">
  {% block layout_css %}{% endblock layout_css %}
  {% block page_css %}{% endblock page_css %}
  <title>{{ request.site_config['site_name'] }}</title>
</head>
<body>
  {% block body %}{% endblock body %}
  <script src="{{ 'tp_yass:static/tp_yass2020/js/jquery-3.6.0.min.js'|static_path }}"></script>
  <script src="{{ 'tp_yass:static/tp_yass2020/js/popper-1.16.0.min.js'|static_path }}"></script>
  <script src="{{ 'tp_yass:static/tp_yass2020/js/bootstrap.bundle-4.4.1.min.js'|static_path }}"></script>
  {% block layout_js %}{% endblock layout_js %}
  {% block page_js %}{% endblock page_js %}
</body>
</html>
