{% extends 'tp_yass:themes/' ~ request.current_theme ~ '/layouts/master.jinja2' %}
{% block layout_css %}
  <link rel="stylesheet" href="{{ request.static_path('tp_yass:static/' ~ request.current_theme ~ '/css/bootstrap-icons/bootstrap-icons.css') }}">
  <link rel="stylesheet" href="{{ request.static_path('tp_yass:static/' ~ request.current_theme ~ '/css/backend.css') }}">
{% endblock layout_css %}
{% block navbar %}{% include 'navbar.jinja2' %}{% endblock navbar %}
{% block successful_flash %}
  <div class="container">
    <div class="row">
      <div class="col">
      {% if request.session.peek_flash('success') %}
        {% for msg in request.session.pop_flash('success') %}
          <div class="alert alert-success" role="alert">{{ msg }}</div>
        {% endfor %}
      {% endif %}
      </div>
    </div>
  </div>
{% endblock successful_flash %}
{% block failed_flash %}
  <div class="container">
    <div class="row">
      <div class="col">
      {% if request.session.peek_flash('fail') %}
        {% for msg in request.session.pop_flash('fail') %}
          <div class="alert alert-danger" role="alert">{{ msg }}</div>
        {% endfor %}
      {% endif %}
      </div>
    </div>
  </div>
{% endblock failed_flash %}
{% block footer %}{% endblock footer %}
{% block layout_js %}
  <script src="{{ request.static_path('tp_yass:static/' ~ request.current_theme ~ '/js/jquery.smartmenus.min-1.1.0.js') }}"></script>
  <script src="{{ request.static_path('tp_yass:static/' ~ request.current_theme ~ '/js/jquery.smartmenus.bootstrap-4.min-1.1.0.js') }}"></script>
{% endblock layout_js %}
