{% extends "layouts/skeleton.jinja2" %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center mt-3">找不到網頁，請確認網址是否正確。</h1>
      </div>
    </div>
  </div>
{% endblock body %}

