<!doctype html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{ request.static_path('tp_yass:themes/default/static/css/bootstrap-4.3.1.min.css') }}">
  <title>濱江國小網站</title>
  <style>
    .footer-bg {
      background-color: #e2f7ff;
    }

    .jumbotron-bg {
      background-image: url("https://picsum.photos/2000/400/?random");
      background-size: cover;
      background-position: center center;
    }

    .bg-trans {
      background-color: rgba(255, 255, 255, .25);
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">濱江國小</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"><i class="fas fa-home"></i> 首頁 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarNewsDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bullhorn"></i> 最新消息
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarNewsDropdown">
            <a class="dropdown-item" href="#">顯示全部</a>
            <a class="dropdown-item" href="#">行政公告</a>
            <a class="dropdown-item" href="#">學校榮譽</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarSchoolDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-school"></i> 學校簡介
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarSchoolDropdown">
            <a class="dropdown-item" href="#">關於學校</a>
            <a class="dropdown-item" href="#">行政處室</a>
            <a class="dropdown-item" href="#">班級網頁</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarOthersDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-link"></i> 其他連結
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarOthersDropdown">
            <a class="dropdown-item" href="#">預算公開區</a>
            <a class="dropdown-item" href="#">政策宣導</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarOutsideDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-globe-asia"></i> 外部資源
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarOutsideDropdown">
            <a class="dropdown-item" href="#">好站連結</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="輸入關鍵字" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜尋</button>
      </form>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-sign-in-alt"></i> 登入</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="jumbotron jumbotron-fluid jumbotron-bg">
    <div class="container">
      <div class="bg-trans p-2 text-white">
        <h1 class="display-4">臺北市中山區濱江國民小學</h1>
        <p class="lead">快樂學習 - 教學相長</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-none d-lg-block">
        <div class="d-flex flex-column">
          <div class="card border-primary mb-3">
            <div class="card-header bg-primary text-white"><i class="fas fa-bullhorn"></i> 最新消息</div>
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action">顯示全部</a>
              <a href="#" class="list-group-item list-group-item-action">行政公告</a>
              <a href="#" class="list-group-item list-group-item-action">學校榮譽</a>
            </div>
          </div>
          <div class="card border-primary mb-3">
            <div class="card-header bg-primary text-white"><i class="fas fa-school"></i> 學校簡介</div>
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action">關於學校</a>
              <a href="#" class="list-group-item list-group-item-action">行政處室</a>
              <a href="#" class="list-group-item list-group-item-action">班級網頁</a>
            </div>
          </div>
          <div class="card border-primary mb-3">
            <div class="card-header bg-primary text-white"><i class="fas fa-link"></i> 其他連結</div>
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action">預算公開區</a>
              <a href="#" class="list-group-item list-group-item-action">政策宣導</a>
            </div>
          </div>
          <div class="card border-primary mb-3">
            <div class="card-header bg-primary text-white"><i class="fas fa-globe-asia"></i> 外部資源</div>
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action">好站連結</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-10 col-12">
        <div class="card border-primary mb-3">
          <div class="card-header bg-primary text-white">最新消息</div>
          <div class="table-responsive">
            <table class="table table-hover table-striped text-left">
              <thead>
                <tr>
                  <th scope="col" class="d-none d-md-table-cell" style="width: 60px;">編號</th>
                  <th scope="col" class="d-none d-md-table-cell" style="width: 170px;">時間</th>
                  <th scope="col" class="d-none d-sm-table-cell" style="width: 180px;">作者</th>
                  <th scope="col" class="d-none d-sm-table-cell">標題</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th class="d-none d-md-table-cell" scope="row">1</th>
                  <td class="d-none d-md-table-cell">2019-02-26</td>
                  <td class="d-none d-sm-table-cell">教務處資訊組</td>
                  <td style="padding: 0px;"><a style="display: block; width: 100%; height: 100%; padding: .75rem;" href="#"><span class="badge badge-pill badge-primary d-md-none d-inline">2019-02-26</span> 教甄開跑</a></td>
                </tr>
                <tr>
                  <th class="d-none d-md-table-cell" scope="row">2</th>
                  <td class="d-none d-md-table-cell">2019-02-26</td>
                  <td class="d-none d-sm-table-cell">人事室</td>
                  <td style="padding: 0px;"><a style="display: block; width: 100%; height: 100%; padding: .75rem;" href="#"><span class="badge badge-pill badge-primary d-md-none d-inline">2019-02-26</span> 退休申請請於年底前送件</a></td>
                </tr>
                <tr>
                  <th class="d-none d-md-table-cell" scope="row">3</th>
                  <td class="d-none d-md-table-cell">2019-02-26</td>
                  <td class="d-none d-sm-table-cell">教務處資訊組</td>
                  <td style="padding: 0px;"><a style="display: block; width: 100%; height: 100%; padding: .75rem;" href="#"><span class="badge badge-pill badge-primary d-md-none d-inline">2019-02-26</span> 獎助學金開始申請</a></td>
                </tr>
                <tr>
                  <th class="d-none d-md-table-cell" scope="row">4</th>
                  <td class="d-none d-md-table-cell">2019-02-26</td>
                  <td class="d-none d-sm-table-cell">教務處資訊組</td>
                  <td style="padding: 0px;"><a style="display: block; width: 100%; height: 100%; padding: .75rem;" href="#"><span class="badge badge-pill badge-primary d-md-none d-inline">2019-02-26</span> 獎助學金開始申請</a></td>
                </tr>
                <tr>
                  <th class="d-none d-md-table-cell" scope="row">5</th>
                  <td class="d-none d-md-table-cell">2019-02-26</td>
                  <td class="d-none d-sm-table-cell">教務處教務主任</td>
                  <td style="padding: 0px;"><a style="display: block; width: 100%; height: 100%; padding: .75rem;" href="#"><span class="badge badge-pill badge-primary d-md-none d-inline">2019-02-26</span> 獎助學金開始申請</a></td>
                </tr>
                <tr>
                  <th class="d-none d-md-table-cell" scope="row">6</th>
                  <td class="d-none d-md-table-cell">2019-02-26</td>
                  <td class="d-none d-sm-table-cell">教務處教務主任</td>
                  <td style="padding: 0px;"><a style="display: block; width: 100%; height: 100%; padding: .75rem;" href="#"><span class="badge badge-pill badge-primary d-md-none d-inline">2019-02-26</span> 獎助學金開始申請</a></td>
                </tr>
                <tr>
                  <th class="d-none d-md-table-cell" scope="row">7</th>
                  <td class="d-none d-md-table-cell">2019-02-26</td>
                  <td class="d-none d-sm-table-cell">教務處教務主任</td>
                  <td style="padding: 0px;"><a style="display: block; width: 100%; height: 100%; padding: .75rem;" href="#"><span class="badge badge-pill badge-primary d-md-none d-inline">2019-02-26</span> 獎助學金開始申請</a></td>
                </tr>
                <tr>
                  <th class="d-none d-md-table-cell" scope="row">8</th>
                  <td class="d-none d-md-table-cell">2019-02-26</td>
                  <td class="d-none d-sm-table-cell">教務處教務主任</td>
                  <td style="padding: 0px;"><a style="display: block; width: 100%; height: 100%; padding: .75rem;" href="#"><span class="badge badge-pill badge-primary d-md-none d-inline">2019-02-26</span> 助學金開始申請</a></td>
                </tr>
                <tr>
                  <th class="d-none d-md-table-cell" scope="row">9</th>
                  <td class="d-none d-md-table-cell">2019-02-26</td>
                  <td class="d-none d-sm-table-cell">教務處教務主任</td>
                  <td style="padding: 0px;"><a style="display: block; width: 100%; height: 100%; padding: .75rem;" href="#"><span class="badge badge-pill badge-primary d-md-none d-inline">2019-02-26</span> 獎助學金開始申請</a></td>
                </tr>
                <tr>
                  <th class="d-none d-md-table-cell" scope="row">10</th>
                  <td class="d-none d-md-table-cell">2019-02-26</td>
                  <td class="d-none d-sm-table-cell">教務處教務主任</td>
                  <td style="padding: 0px;"><a style="display: block; width: 100%; height: 100%; padding: .75rem;" href="#"><span class="badge badge-pill badge-primary d-md-none d-inline">2019-02-26</span> 獎助學金開始申請</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <nav aria-label="分頁">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">上一頁</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">下一頁</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <footer class="footer-bg p-1">
    <div class="container">
      <div class="row">
        <div class="col py-3">
          <p><i class="fas fa-phone"></i> 聯絡電話：02-85021571</p>
          <p><i class="fas fa-fax"></i> 傳真電話：02-85011146</p>
          <p><i class="fas fa-envelope"></i> 學校信箱：public@bjes.tp.edu.tw</p>
          <p><i class="fas fa-map-marker-alt"></i> 學校地址：10462 臺北市中山區樂群二路266巷99號</p>
        </div>
        <div class="col d-none d-sm-block">
          <iframe class="h-100 w-100"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3613.7043991522146!2d121.55944821523249!3d25.07800624267944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442ac72e5e39d17%3A0x3934b7c47c1bbf29!2zMTA0OTHlj7DljJfluILkuK3lsbHljYDmqILnvqTkuozot68yNjblt7c5OeiZnw!5e0!3m2!1szh-TW!2stw!4v1551164410802"
            frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="row my-2">
        <div class="col text-center">© 2018 臺北市中山區濱江國小</div>
      </div>
    </div>
  </footer>
  <script src="{{ request.static_path('tp_yass:themes/default/static/js/jquery-3.4.1.slim.min.js') }}"></script>
  <script src="{{ request.static_path('tp_yass:themes/default/static/js/popper-1.15.0.min.js') }}"></script>
  <script src="{{ request.static_path('tp_yass:themes/default/static/js/bootstrap-4.3.1.min.js') }}"></script>
  <script src="{{ request.static_path('tp_yass:themes/default/static/js/fontawesome-all-5.8.2.min.js') }}"></script>
</body>

</html>
