{% macro paginate(request, title, route_name, quantity_of_pages, current_page_id, quantity_per_page) %}
  {% if quantity_of_pages > 1 %}
    <nav aria-label="{{ title }}">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="{{ request.route_url(route_name, _query={'p': 1, 'q': quantity_per_page}) }}">第一頁</a>
        </li>
        {% if current_page_id > 1 %}
          <li class="page-item">
            <a class="page-link" href="{{ request.route_url(route_name, _query={'p': current_page_id-1, 'q': quantity_per_page}) }}">上一頁</a>
          </li>
        {% endif %}
        {% if current_page_id < quantity_of_pages %}
          <li class="page-item">
            <a class="page-link" href="{{ request.route_url(route_name, _query={'p': current_page_id+1, 'q': quantity_per_page}) }}">下一頁</a>
          </li>
        {% endif %}
        <li class="page-item">
          <a class="page-link" href="{{ request.route_url(route_name, _query={'p': quantity_of_pages, 'q': quantity_per_page}) }}">最後頁</a>
        </li>
      </ul>
    </nav>
  {% endif %}
{% endmacro %}
