{% extends "layouts/master.jinja2" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12"><h1>使用者群組管理</h1></div>
    <div class="col-12">
      {% for group in group_trees recursive %}
      <ul class="list-group">
        <li class="list-group-item"><a href="#">{{ group.name }}</a>
          {% if group.descendants %}
            {{ loop(group.descendants) }}
          {% endif %}
        </li>
      </ul>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
