{% extends "layouts/master.jinja2" %}
{% block page_css %}
<link href="{{ 'tp_yass:themes/default/static/css/jquery.bonsai-2.1.1.css'|static_path }}" rel="stylesheet">
{% endblock page_css %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12"><h1>使用者列表</h1></div>
    <div class="col-12">
      <div class="card border-primary mb-3">
        <div class="table-responsive">
          <table class="table table-hover table-striped text-center mb-0">
            <thead>
              <tr>
                <th scope="col" class="d-none d-md-table-cell">編號</th>
                <th scope="col" class="d-none d-sm-table-cell">姓名</th>
                <th scope="col" class="d-none d-md-table-cell">帳號</th>
                <th scope="col" class="d-none d-md-table-cell">Email</th>
                <th scope="col" class="d-none d-sm-table-cell">群組</th>
              </tr>
            </thead>
            <tbody>
            {% for user in user_list %}
              <tr>
              {% if page_id > 1 %}
                <th scope="row">{{ loop.index * page_id * quantity_per_page }}</th>
              {% else %}
                <th scope="row">{{ loop.index * page_id }}</th>
              {% endif %}
                <td><a href="#">{{ user.first_name }}{{ user.last_name }}</a></td>
                <td>{{ user.account }}</td>
                <td>{{ user.email }}</td>
                <td>
                {% for group in user.groups %}
                  <a href="#">{{ group.name }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% if page_quantity_of_total_users > 1 %}
      <nav aria-label="使用者列表分頁">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="{{ request.route_url('backend_user_list', _query={'p': 1, 'q': quantity_per_page}) }}">第一頁</a>
          </li>
          {% if page_id > 1 %}
            <li class="page-item">
              <a class="page-link" href="{{ request.route_url('backend_user_list', _query={'p': page_id-1, 'q': quantity_per_page}) }}">上一頁</a>
            </li>
          {% endif %}
          {% if page_id < page_quantity_of_total_users %}
            <li class="page-item">
              <a class="page-link" href="{{ request.route_url('backend_user_list', _query={'p': page_id+1, 'q': quantity_per_page}) }}">下一頁</a>
            </li>
          {% endif %}
          <li class="page-item">
            <a class="page-link"
               href="{{ request.route_url('backend_user_list', _query={'p': page_quantity_of_total_news, 'q': quantity_per_page}) }}">最後頁</a>
          </li>
        </ul>
      </nav>
    {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
{% block page_js %}
<script src="{{ 'tp_yass:themes/default/static/js/jquery.bonsai-2.1.1.js'|static_path }}"></script>
<script>
  $(function() {
    $('#root-group').bonsai({
      expandAll: true
    });
  });
</script>
{% endblock page_js %}
