###
# app configuration
# https://docs.pylonsproject.org/projects/pyramid/en/latest/narr/environment.html
###

[app:main]
use = egg:tp_yass

pyramid.reload_templates = false
pyramid.debug_authorization = false
pyramid.debug_notfound = false
pyramid.debug_routematch = false
pyramid.default_locale_name = en
pyramid.includes =

# activate some useful filters of jinja2
jinja2.filters =
    route_url = pyramid_jinja2.filters:route_url_filter
    static_url = pyramid_jinja2.filters:static_url_filter
    route_path = pyramid_jinja2.filters:route_path_filter
    static_path = pyramid_jinja2.filters:static_path_filter
jinja2.lstrip_blocks = true
jinja2.trim_blocks = true

project_abbr_name = {{ project_abbr_name }}

# pyramid_mailer settings
mail.host = {{ mail_server_host }}
mail.port = {{ mail_server_port }}

# secret key for pyramid security framework
auth.secret = {{ auth_secret|default(lookup('password', '/dev/null chars=ascii_lowercase,digits length=64'), true) }}

# pyramid_session_redis settings
redis.sessions.prefix = {{ project_abbr_name }}-
redis.sessions.secret = {{ session_secret|default(lookup('password', '/dev/null chars=ascii_lowercase,digits length=64'), true) }}
redis.sessions.timeout = {{ session_timeout|default("86400", true) }}
redis.sessions.cookie_name = {{ project_abbr_name }}
redis.sessions.cookie_max_age = {{ cookie_max_age|default("86400", true) }}
redis.sessions.cookie_path = /
redis.sessions.cookie_domain =
redis.sessions.cookie_secure = True
redis.sessions.cookie_httponly = True
redis.sessions.cookie_on_exception = True
redis.sessions.host = {{ redis_host|default("localhost", true) }}
redis.sessions.port = {{ redis_port|default("6379", true) }}
redis.sessions.db = 0
redis.sessions.password = {{ redis_pass }}

sqlalchemy.url = mysql+pymysql://{{ db_user }}:{{ db_pass }}@{{ db_host }}/{{ db_name }}?charset=utf8mb4
sqlalchemy.pool_recycle = 3600

retry.attempts = 3

###
# wsgi server configuration
###

[alembic]
# path to migration scripts
script_location = tp_yass/alembic
file_template = %%(year)d%%(month).2d%%(day).2d_%%(rev)s
# file_template = %%(rev)s_%%(slug)s

[server:main]
use = egg:waitress#main
listen = *:6543

###
# logging configuration
# https://docs.pylonsproject.org/projects/pyramid/en/latest/narr/logging.html
###

[loggers]
keys = root, tp_yass, sqlalchemy, alembic

[handlers]
{%if mattermost_logging_enabled %}
keys = rotating_file, mattermost
{% else %}
keys = rotating_file
{% endif %}

[formatters]
keys = generic

[logger_root]
level = WARN
handlers = rotating_file

[logger_tp_yass]
level = WARN
{%if mattermost_logging_enabled %}
handlers = rotating_file, mattermost
{% else %}
handlers = rotating_file
{% endif %}
qualname = tp_yass

[logger_sqlalchemy]
level = WARN
handlers = rotating_file
qualname = sqlalchemy.engine

[logger_alembic]
level = WARN
handlers = rotating_file
qualname = alembic

[handler_rotating_file]
class = handlers.RotatingFileHandler
args = ('%(here)s/tp_yass/logs/logs.log', 'a', 102400, 5)
level = NOTSET
formatter = generic

{% if mattermost_logging_enabled %}
[handler_mattermost]
class = tp_yass.logging.MattermostHandler
args = ("{{ mattermost_channel_name }}", "{{ mattermost_channel_url }}")
level = NOTSET
formatter = generic
{% endif %}

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s:%(lineno)s][%(threadName)s] %(message)s

