[uwsgi]
strict = true
master = true
chdir = {{ project_base_dir }}
home = {{ project_base_dir }}/.venv
wsgi-file = {{ project_base_dir }}/wsgi.py
single-interpreter = true
processes = {{ uwsgi_processes }}
enable-threads = true
die-on-term = true
need-app = true
disable-logging = true
log-4xx = true
log-5xx = true
max-requests = 1000
max-worker-lifetime = 3600
worker-reload-mercy = 30
harakiri = 60
auto-procname = true
procname-prefix = "{{ project_abbr_name }} "
vacuum = true
socket = {{ uwsgi_socket_host }}:{{ uwsgi_socket_port }}
stats = {{ uwsgi_stats_host }}:{{ uwsgi_stats_port }}
