<footer class="footer-bg mt-3 p-1">
  <div class="container">
    <div class="row">
      <div class="col py-3">
        <p><a href="tel:+886-2-85021571"><i class="bi bi-telephone"></i> 聯絡電話：{{ request.site_config['site_phone'] }}</a></p>
        <p><a href="tel:+886-2-85011146"><i class="bi bi-telephone-fill"></i> 傳真電話：{{ request.site_config['site_fax'] }}</a></p>
        <p><a href="mailto:public@bjes.tp.edu.tw"><i class="bi bi-envelope"></i> 學校信箱：{{ request.site_config['site_email'] }}</a></p>
        <address><a href="{{ request.site_config['site_google_map_url'] }}" target="_blank"><i class="bi bi-map"></i> 學校地址：{{ request.site_config['site_zip'] }} {{ request.site_config['site_address'] }}</a></address>
      </div>
      <div class="col d-none d-sm-block">
        <iframe class="h-100 w-100" src="{{ request.site_config['site_google_map_embedded_url'] }}" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="row my-2">
      <div class="col text-center">© 2019 {{ request.site_config['site_name'] }}</div>
    </div>
  </div>
</footer>
