{% extends "layouts/skeleton.jinja2" %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center mt-3">權限不足，您無法瀏覽此頁面。</h1>
      </div>
    </div>
  </div>
{% endblock body %}

